.window {
  height: 460px;
}

.title {
  color: #ff2c55;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  margin-bottom: 18px;
}

.input {
  width: 280px;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.solid {
  margin-bottom: 15px;
  width: 290px;
}

.loga {
  color: var(--red__900);
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 8px;

  &:hover {
    color: #bd0429;
  }
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #272727;
  margin-top: 10px;
  margin-bottom: 10px;
}
