

:root{
    --white:#ffff;
    --black: black;
    --red__100: #fa748F;
    --red__900:#ff2c55;
    --red__hover: #bd0429
    --gray__100: #b3b3b3
    --gray__800: #2c2c2c;
    --gray__900: #1a1a1a
}